# ============================================
# Pedidos360 — Variables de entorno
# ============================================

# --- Base de datos Oracle ---
ORACLE_PASSWORD=change-me-in-production
ORACLE_DATABASE=FREEPDB1
CATALOG_DB_USERNAME=catalog_user
CATALOG_DB_PASSWORD=change-me-in-production
ORDERS_DB_USERNAME=orders_user
ORDERS_DB_PASSWORD=change-me-in-production

# --- Microsoft Entra ID ---
ENTRA_TENANT_ID=your-tenant-id
ENTRA_CLIENT_ID=your-client-id
ENTRA_API_AUDIENCE=your-api-client-id
API_SCOPE=api://150f51db-4084-4979-b1a1-e6a6e7893a01/access_as_user
API_BASE_URL=http://localhost:8080
REDIRECT_URI=http://localhost:4200/login
POST_LOGOUT_REDIRECT_URI=http://localhost:4200/login

# --- Amazon Cognito ---
COGNITO_USER_POOL_ID=us-east-1_UmEhPRYdI
COGNITO_USER_POOL_CLIENT_ID=59be26pgg5ginu2sutr8eetgjg
COGNITO_DOMAIN=us-east-1umehprydi.auth.us-east-1.amazoncognito.com
COGNITO_ISSUER=https://cognito-idp.us-east-1.amazonaws.com/us-east-1_UmEhPRYdI
COGNITO_REDIRECT_URI=http://localhost:4200/auth/cognito/callback
COGNITO_LOGOUT_URI=http://localhost:4200/login
COGNITO_API_AUDIENCE=59be26pgg5ginu2sutr8eetgjg
COGNITO_API_SCOPE="openid email profile"

# --- Puertos locales ---
BFF_PORT=8080
FRONTEND_PORT=4200

# --- WireMock (desarrollo local) ---
WIREMOCK_PORT=8089
ENTRA_ISSUER=http://localhost:8089
ENTRA_JWK_SET_URI=http://localhost:8089/discovery/v2.0/keys

# --- CORS ---
CORS_ALLOWED_ORIGINS=http://localhost:4200
