# Copie este archivo como .env y sustituya todos los marcadores.
COMPOSE_PROJECT_NAME=pedidos360
ORACLE_DATABASE=FREEPDB1
ORACLE_PASSWORD=CambieEsta_Local1!
CATALOG_DB_USERNAME=PEDIDOS360_CATALOG
CATALOG_DB_PASSWORD=CambieEsta_Catalog1!
ORDERS_DB_USERNAME=PEDIDOS360_ORDERS
ORDERS_DB_PASSWORD=CambieEsta_Orders2!

ENTRA_TENANT_ID=1feca74f-8331-414a-bd8d-2d687b22a7b3
ENTRA_CLIENT_ID=19c346ad-cb86-4cc7-8ccf-23d36bb60ebf
ENTRA_ISSUER=https://login.microsoftonline.com/1feca74f-8331-414a-bd8d-2d687b22a7b3/v2.0
ENTRA_API_AUDIENCE=150f51db-4084-4979-b1a1-e6a6e7893a01
API_SCOPE=api://150f51db-4084-4979-b1a1-e6a6e7893a01/access_as_user
API_BASE_URL=http://localhost:8080
REDIRECT_URI=http://localhost:4200/login
POST_LOGOUT_REDIRECT_URI=http://localhost:4200/login
CORS_ALLOWED_ORIGINS=http://localhost:4200

BFF_PORT=8080
FRONTEND_PORT=4200
